<div class='fhirServerGeneratedContent'>
	<div class='fhirServerNotice'>Important note: this server is no longer the master copy for CareConnect FHIR assets.
	 The master copy with the latest versions is now hosted on the Simplifier development platform within the <a href="https://simplifier.net/hl7fhircareconnectbaselineforstu3">HL7 FHIR&reg; CareConnect Baseline for STU3 project</a>.
	  This project contains the latest versions of the CareConnect FHIR assets in an <a href="https://simplifier.net/HL7FHIRCareConnectBaselineforSTU3/~packages"> NPM package</a> and a <a href="https://simplifier.net/guide/hl7fhircareconnectprofilesstu3?version=current">implementation guide</a>.</div>
	<div class='fhirServerNotice'>This is a HL7 FHIR server, and as you appear to be accessing this page from a web browser you  are seeing a HTML version of the requested resource(s). You can also access this URL from a FHIR client as a ReSTful API call. For more details please see the <a href="https://www.hl7.org/fhir/">HL7 FHIR specification</a>.</div>

	<h2 class='resourceType'>$resourceType.getDisplayName() Resources</h2>

	<ul>
		<div class='fw_nav_boxes isotope' style='position: relative; overflow: hidden;'>
		#foreach( $group in $groupedResources.keySet() )
			#set ($list = $groupedResources.get($group))
			<div class="one_third tree_wrap" style="min-height: 306px;">
				<div class="box">
					<div class="line aquaBlue_line"></div>
					<section class="nav_box aquablue">
						<h3>$group</h3>
						<ul>
							#foreach( $resource in $list )
								<li class="resource-status-$resource.getStatus()">
									<a href="/$resource.getFhirVersion().getUrlPrefix()$resourceType.getRequestPath()/$resource.getResourceID()">$resource.getResourceName()</a> 
										$resource.getFhirVersionLabel()
										$resource.getStatus().getStatusLabel()
								</li>
							#end
						</ul>
					</section>
				</div>
			</div>
		#end
		</div>
	</ul>
</div>