<div class='fhirServerGeneratedContent'>
	<div class='fhirServerNotice'>This is a HL7 FHIR server, and as you appear to be accessing this page from a web browser you  are seeing a HTML version of the requested resource(s). You can also access this URL from a FHIR client as a ReSTful API call. For more details please see the <a href="https://www.hl7.org/fhir/">HL7 FHIR specification</a>.</div>
	#if( $hasGeneratedMetadataFromRenderer )
		#parse( "/velocity-templates/resource-metadata-from-renderer.vm" )
	#else
		#if( $resourceType.getDisplayName() == "ValueSet" || $resourceType.getDisplayName() == "OperationDefinition" )
			#parse( "/velocity-templates/minimal-metadata.vm" )
		#else
			#parse( "/velocity-templates/resource-metadata.vm" )
		#end
	#end

	<div id="tabs">
		<ul>
			#set ($first = 'id="firstTab"')
			#foreach( $artefact in $metadata.getArtefacts() )
			    #if( $artefact.getArtefactType().getWeight() >= 0 )
					#set ($tabname = $artefact.getArtefactType().getFilenameWithoutExtension())
					<li><a $first href="#tabs-$tabname" onclick="loadTab('#tabs-$tabname', '$metadata.getResourceID()', '$metadata.getVersionNo()', 
									'$artefact.getArtefactType().name()', '$baseURL', '$metadata.getResourceType().getDisplayName()');">$artefact.getArtefactType().getDisplayName()</a></li>
					#set ($first = '')
				#end
			#end
			#if( $examples )
				<li><a href="#tabs-examples">Examples</a></li>
			#end
		</ul>
		#foreach( $artefact in $metadata.getArtefacts() )
			#set ($tabname = $artefact.getArtefactType().getFilenameWithoutExtension())
			<div id="tabs-$tabname"></div>
		#end
		#if( $examples )
			<div id="tabs-examples">
				<div class="fhir-panel">
			      <div class="fhir-panel-heading-box">
			        <h3 class="fhir-panel-heading-text">Examples</h3>
			      </div>
			      <div class="fhir-panel-body">
					<b>Examples implementing this profile:</b>
					<p>
						<ul id="exampleBullets">
						#foreach( $example in $examples )
							<li><a href="$baseURL/Examples/$example.getResourceName()">$example.getResourceName()</a></li>
						#end
						</ul>
					</p>
	        	  </div>
	            </div>
			</div>
		#end
	</div>
</div>
