.idea
*.iml

*/.project
*/.classpath
*.settings/
*/target/
*/bin/
*/dependency-reduced-pom.xml
reference-server-deploy/
profile-renderer-deploy
/bin/

/reference-server-lib/src/main/resources/velocity-templates/devnet.html
