span.stu3, span.dstu2 {
    border-radius: 8px;
    font-size: 8pt;
    color: white;
}

span.dstu2 {
    background: #8ae234;
    border: solid #8ae234;
}

span.stu3 {
    background: #ad7fa8;
    border: solid #ad7fa8;
}

.fhir-metadata-label {
    color: #808080;
    font-weight: bold;
    font-size: 13;
}
.fhir-panel * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.metadataSection tr, .metadataSection fhir-table-title, .metadataSection td,
.metadataSection tr, .metadataSection fhir-table-title, .metadataSection td {
    text-align: left;
    text-align: left;
}
.metadataSection tr {
    padding: 3px;
    line-height: 1.66em;
}
.metadataSection tr, .metadataSection .fhir-table-title {
    font-size: 11px;
    font-family: verdana;
    vertical-align: top;
    border: 0;
}
.metadataSection .fhir-metadata-cell {
    border: 1px solid #f0f0f0;
}
.metadataSection table {
    width: 100%;
    font-family: sans-serif;
    border-collapse: collapse;
}

.metadataSection .fhir-panel {
    padding: 15px;
    margin-bottom: 20;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.metadataSection .fhir-table tbody:before {
    content: '-';
    display: block;
    line-height: 1em;
    color: transparent;
}

#metadataFromGenerator .fhir-table tbody:before {
	display:none;
}

#metadataFromGenerator .fhir-panel, #versionMetadata {
    width: 97%;
    border: none;
}

div#versionMetadata {
    padding-top: 0px;
}

.fhir-panel {
	width: 100% !IMPORTANT;
}

.wrapper.cf.container {
    padding-left: 0px;
    padding-right: 30px;
}

#extensionTable {
	width:100%;
	margin-top: 20px;
	font-size: 11px;
    font-family: verdana;
}

#extensionTable th {
	font-weight: bold;
	border-bottom: solid thin lightgrey;
	padding-right: 15px;
}

#extensionTable td {
	border-bottom: solid thin lightgrey;
	padding-right: 15px;
}

#tabs ul {
	margin-left: 0px;
}

body {
    background-color: #ffffff;
    position: relative;
    padding-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

#header {
    border-bottom: 1px solid silver;
    background-color: #f5f5f5;
    height: 87px;
}

.breadcrumbs {
    padding-top: 20px;
}

#header h1, #header h2, #header h3 {
    padding-top: 10px;
    padding-left: 30px;
    float: left;
}

#leftlogo {
    float: left;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 0;
    display: block;
}

#rightlogo {
    float: right;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 0;
    display: block;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #CCC;
    font-size: 16px;
    height: 50px;
}

.main {
	min-height: 530px;
}

footer div.links {
    float: left;
}

footer div.copyright {
    float: right;
}

h2.resourceType {
    padding-top: 20px;
}

.fhirServerWarning {
    /*margin-bottom: 10px;
    margin-top: 10px;*/
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    padding: 15px;
}
.fhirServerNotice {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f3fa8e;
    border-color: #e9f271;
    color: #ce5c00;
    padding: 15px;
}

.metadataSection {
	border: thin solid #d4d2d2;
}

.resourceSummary {
    float: left;
    padding: 5px;
    width: 80%;
}

.resourceVersions {
	float: left;
    padding: 5px;
    width: 17%;
}

.clearPara {
	clear: both;
}

.treeView, .operationTable, .guideContent {
    border: thin solid #d4d2d2;
    padding: 5px;
    margin-top: 5px;
    clear: both;
}

.renderedValueSet {
    border: thin solid #d4d2d2;
    padding: 5px;
    margin-top: 5px;
}

.rawXML, .rawJSON {
    overflow-x: scroll;
    border: thin solid #d4d2d2;
    padding: 5px;
    font-size: 0.6em;
    margin-top: 5px;
    line-height: 1.2em;
}

.operationTable th {
    background: #f0f0f0;
    min-width: 153px;
}

.operationTable td {
    min-width: 153px;
}

.guideContent {
	font-size: 0.8em;
}

.guideContent h1 {
	padding-top: 5px;
	font-size: 1.6em;
}
.guideContent h2 {
	padding-top: 5px;
	font-size: 1.4em;
}

.guideContent td, .guideContent th {
	padding-left: 5px;
	padding-right: 5px;
}

.guideContent th {
	font-weight: bold;
}

.guideContent .nameCol {
	width: 300px;
}