 
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
		<title>HL7 UK FHIR Reference Server</title>
		<meta name="Content-Type" content="text/html"/>
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<!-- Bootstrap and JQuery -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="/js/jquery-ui/jquery-ui.css" rel="stylesheet">
	
		<link rel="stylesheet" href="/style/hl7style.css"/>
		
		<meta property="og:locale" content="en_GB" />
		<meta property="og:title" content="HL7 UK FHIR Reference Server" />
		<meta property="og:site_name" content="HL7 UK FHIR Reference Server" />
	</head>
	<body>
		<div id="header">
		  <a href="/">
		      <div class="container">        
		        <img src="/images/hl7logo.png" id="leftlogo">
		        <!-- <h3>HL7 FHIR® UK Core R4</h3> -->

		        <!-- <h3>HL7 UK INTEROPen CareConnect FHIR Profiles</h3> -->
		        <img src="/images/interopen-transparent.gif" id="rightlogo">
		      </div>
	      </a>
	    </div>
	    <div class="container">

		    <div class="breadcrumbs">
		    	#parse( "/hl7-velocity-templates/breadcrumbs.vm" )
		    </div>

			<div class="main">
				<div class="wrapper cf container">#parse($contentTemplateName)</div><!--end main_content-->
			</div><!-- end main -->
	
			<footer>
				<div class="links">
					<a href="http://www.hl7.org.uk/">&copy;2018 HL7 UK.</a>
					HL7&reg; and FHIR&reg; are the registered trademarks of Health Level Seven International.
				</div>
			</footer>
		</div>
		
		<!-- JQuery UI and site scripts -->
		<script src="/js/jquery-ui/jquery-ui.js"></script>
		<script src="/js/site-functions.js"></script>

		<!-- Google Analytics -->
		<script type="text/javascript">
		    var _gaq = _gaq || [];
		    _gaq.push(
		        ['_setAccount', 'UA-38028819-4'],
			['_gat._anonymizeIp'],
		        ['_trackPageview'],
		        ['b._setAccount', 'UA-1283645-1'],
		        ['b._trackPageview']
		    );
		    (function() {
		        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		    })();
		</script>

   <script type="text/javascript">
     _uacct = "UA-2010094-1";
     urchinTracker();
   </script>


	</body>
</html>
