		<ol class="breadcrumb">
		  #if($resourceType)
		    #if($resourceName)
		    	<li class="breadcrumb-item"><a href="/">Home</a></li>
		    	<li class="breadcrumb-item"><a href="/$resourceType.getRequestPath()">$resourceType.getBreadcrumbName()</a></li>
		    	<li class="breadcrumb-item active"><a href="#">$resourceName</a></li>
		    #else
		    	<li class="breadcrumb-item"><a href="/">Home</a></li>
		    	<li class="breadcrumb-item active"><a href="/$resourceType.getRequestPath()">$resourceType.getBreadcrumbName()</a></li>
		    #end
		  #else
		  	<li class="breadcrumb-item active"><a href="/">Home</a></li>
		  #end
		</ol>