<div class='fhirServerGeneratedContent'>

	#set( $count = $counts.get("StructureDefinition") )
	#if( $count )
	<h3>StructureDefinitions</h3>
	<ul>
		<li><a href="/StructureDefinition">List all StructureDefinitions
			  ($count)
			</a>
		</li>
	</ul>
	#end
	#set( $countVS = $counts.get("ValueSet") )
	#if( $countVS )
	<h3>ValueSets</h3>
	<ul>
		<li><a href="/ValueSet">List all ValueSets
				  ($countVS)
				</a>
		</li>
	</ul>
	#end
	#set( $countOD = $counts.get("OperationDefinition") )
	#if( $countOD )
	<h3>OperationDefinitions</h3>
	<ul>
		<li><a href="/OperationDefinition">List all OperationDefinitions
			  ($countOD)
			</a>
		</li>
	</ul>
	#end
	#set( $countCS = $counts.get("CodeSystem") )
	#if( $countCS )
	<h3>CodeSystems</h3>
	<ul>
		<li><a href="/CodeSystem">List all CodeSystems
			  ($countCS)
			</a>
		</li>
	</ul>
	#end
	#set( $countCM = $counts.get("ConceptMap") )
	#if( $countCM )
	<h3>ConceptMaps</h3>
	<ul>
		<li><a href="/ConceptMap">List all ConceptMaps
			  ($countCM)
			</a>
		</li>
	</ul>
	#end
	#set( $countMD = $counts.get("MessageDefinition") )
	#if( $countMD )
	<h3>MessageDefinitions</h3>
	<ul>
		<li><a href="/MessageDefinition">List all MessageDefinitions
			  ($countMD)
			</a>
		</li>
	</ul>
	#end
	#set( $countSP = $counts.get("SearchParameter") )
	#if( $countSP )
	<h3>SearchParameters</h3>
	<ul>
		<li><a href="/SearchParameter">List all SearchParameters
			  ($countSP)
			</a>
		</li>
	</ul>
	#end
	#set( $countER = $counts.get("Extension") )
	#if( $countER )
	<h3>Extensions</h3>
	<ul>
		<li><a href="/Extensions">Extension Registry
			  ($countER)
			</a>
		</li>
	</ul>
	#end
	#set( $countNS = $counts.get("NamingSystem") )
	#if( $countNS )
	<h3>Naming Systems</h3>
	<ul>
		<li><a href="/NamingSystem">Naming System
			  ($countNS)
			</a>
		</li>
	</ul>
	#end
	#set( $countIG = $counts.get("ImplementationGuide") )
	#if( $countIG )
	<h3>ImplementationGuide</h3>
	<ul>
		<li><a href="/ImplementationGuide">List all ImplementationGuides
			  ($countIG)
			</a>
		</li>
	</ul>
	#end
	#set( $countC = $counts.get("Conformance") )
	#if( $countC )
	<h3>Conformance</h3>
	<ul>
		<li><a href="/Conformance">List all Conformance resources
			  ($countC)
			</a>
		</li>
		<li><a href="/metadata">Download conformance resource for this FHIR server</a></li>
	</ul>
	#end
	<p>&nbsp;</p>
	<p><small>Download conformance resource for this FHIR server: <a href="/metadata">DSTU2</a> | <a href="/STU3/metadata">STU3</a></small></p>