<div class='fhirServerGeneratedContent'>
	<div class='fhirServerWarning'>Warning: This FHIR Server is currently experimental and is provided for reference during development of new services against published profiles only. You should not make direct calls to this server from live systems.</div>

	<table id="extensionTable">
		<tr>
			<th>Version</th>
			<th>ID</th>
			<th>Description</th>
			<th><a href="https://www.hl7.org/fhir/defining-extensions.html#cardinality">Card.</a></th>
			<th>Type</th>
			<th>Context</th>
		</tr>
		
		#foreach( $extension in $extensions )
		<tr>
			<td>$extension.getFhirVersion().getLabel()</td>
			<td><a href="/$extension.getFhirVersion().getUrlPrefix()StructureDefinition/$extension.getResourceID()">$extension.getResourceName()</a></td>
			<td>$!extension.getExtensionDescription()</td>
			<td>$!extension.getExtensionCardinality()</td>
			<td>$!extension.getBaseType()</td>
			<td>
				#foreach( $extensionContext in $extension.getExtensionContexts() )
					<p>$extensionContext</p>
				#end
			</td>
		</tr>
		#end
		
	</table>
</div>
