<div class='fhirServerGeneratedContent'>
	<div class='fhirServerWarning'>Warning: This FHIR Server is currently experimental and is provided for reference during development of new services against published profiles only. You should not make direct calls to this server from live systems.</div>

	<ul>
		<div class='fw_nav_boxes isotope' style='position: relative; overflow: hidden;'>
			
			<div class="one_third tree_wrap" style="min-height: 306px;">
				<div class="box">
					<div class="line aquaBlue_line"></div>
					<section class="nav_box aquablue">
						<h3>StructureDefinition</h3>
						<ul>
							<li><a href="/StructureDefinition">List all StructureDefinitions
								#set( $count = $counts.get("StructureDefinition") )
								#if( $count )
								  ($count)
								#else
								  (0)
								#end
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>			
			<div class="one_third tree_wrap" style="min-height: 306px;">
				<div class="box">
					<div class="line aquaBlue_line"></div>
					<section class="nav_box aquablue">
						<h3>ValueSet</h3>
						<ul>
							<li><a href="/ValueSet">List all ValueSets
								#set( $countVS = $counts.get("ValueSet") )
								#if( $countVS )
								  ($countVS)
								#else
								  (0)
								#end
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="one_third tree_wrap" style="min-height: 306px;">
				<div class="box">
					<div class="line aquaBlue_line"></div>
					<section class="nav_box aquablue">
						<h3>OperationDefinition</h3>
						<ul>
							<li><a href="/OperationDefinition">List all OperationDefinitions
								#set( $countOD = $counts.get("OperationDefinition") )
								#if( $countOD )
								  ($countOD)
								#else
								  (0)
								#end
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="one_third tree_wrap" style="min-height: 306px;">
				<div class="box">
					<div class="line aquaBlue_line"></div>
					<section class="nav_box aquablue">
						<h3>CodeSystem</h3>
						<ul>
							<li><a href="/CodeSystem">List all CodeSystems
								#set( $countCS = $counts.get("CodeSystem") )
								#if( $countCS )
								  ($countCS)
								#else
								  (0)
								#end
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="one_third tree_wrap" style="min-height: 306px;">
				<div class="box">
					<div class="line aquaBlue_line"></div>
					<section class="nav_box aquablue">
						<h3>ConceptMap</h3>
						<ul>
							<li><a href="/ConceptMap">List all ConceptMaps
								#set( $countCM = $counts.get("ConceptMap") )
								#if( $countCM )
								  ($countCM)
								#else
								  (0)
								#end
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="one_third tree_wrap" style="min-height: 306px;">
				<div class="box">
					<div class="line aquaBlue_line"></div>
					<section class="nav_box aquablue">
						<h3>Extensions</h3>
						<ul>
							<li><a href="/Extensions">Extension Registry
								#set( $countER = $counts.get("Extension") )
								#if( $countER )
								  ($countER)
								#else
								  (0)
								#end
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<!--
			<div class="one_third tree_wrap" style="min-height: 306px;">
				<div class="box">
					<div class="line aquaBlue_line"></div>
					<section class="nav_box aquablue">
						<h3>ImplementationGuide</h3>
						<ul>
							<li><a href="/ImplementationGuide">List all ImplementationGuides
								#set( $countIG = $counts.get("ImplementationGuide") )
								#if( $countIG )
								  ($countIG)
								#else
								  (0)
								#end
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="one_third tree_wrap" style="min-height: 306px;">
				<div class="box">
					<div class="line aquaBlue_line"></div>
					<section class="nav_box aquablue">
						<h3>Conformance</h3>
						<ul>
							<li><a href="/Conformance">List all Conformance resources
								#set( $countC = $counts.get("Conformance") )
								#if( $countC )
								  ($countC)
								#else
								  (0)
								#end
								</a>
							</li>
						</ul>
					</section>
				</div>
			</div>
			-->
		</div>
	</ul>
</div>
<p><a href="/metadata">Download conformance resource for this FHIR server</a></p>