<div class='fhirServerGeneratedContent'>
	<div class='fhirServerNotice'>This is a HL7 FHIR server, and as you appear to be accessing this page from a web browser you  are seeing a HTML version of the requested resource(s). You can also access this URL from a FHIR client as a ReSTful API call. For more details please see the <a href="https://www.hl7.org/fhir/">HL7 FHIR specification</a>.</div>

	<div class='$class'><pre lang='$lang'>$rawContent</pre></div>
	
</div>
