	<div class='metadataSection'>
		<div id='metadataFromGenerator' resourceType='$metadata.getResourceType()', 
				resourceID='$metadata.getResourceID()'
				version='$metadata.getVersionNo()' baseURL='$baseURL'></div>

        <div class="fhir-panel" id="versionMetadata">
          <div class="fhir-panel-body">
			<table class="fhir-table">
	          <colgroup>
	            <col width="50%">
	            <col width="50%">
	          </colgroup>
	          <tbody>
	          <tr>
	            <td class="fhir-metadata-cell">
		            <span class="fhir-metadata-label">Name:</span>
		            <span class="fhir-metadata-value">$!resource.getName()</span>
				</td>
	            <td class="fhir-metadata-cell">
	            	<span class="fhir-metadata-label">FHIR Version:</span>
		            <span class="fhir-metadata-value">$!fhirVersion</span>
				</td>
			  </tr>
			  <tr>
	            <td class="fhir-metadata-cell">
		            <span class="fhir-metadata-label">URL:</span>
		            <span class="fhir-metadata-value">$!resource.getUrl()</span>
		        </td>
	            <td class="fhir-metadata-cell" rowspan="7">
	              <span class="fhir-metadata-label"><u>Version History</u></span>
	              <span class="fhir-metadata-value">
					<ul>
						#foreach( $version_no in $versions.keySet() )
						    #set( $version_entry = $versions.get($version_no) )
							#if( $version_entry.getVersionNo() == $resource.getVersion() )
							  <b>
							#end
						    <li><a href="$version_entry.getVersionedUrl($baseURL)">Version: $version_no</a> <span class='versionStatusLabel'>$version_entry.getStatus()</span></li>
						    #if( $version_entry.getVersionNo() == $resource.getVersion() )
							  </b>
							#end
						#end
					</ul>
	              </span>
	            </td>
	          </tr>
	          <tr>
	            <td class="fhir-metadata-cell">	          	            
		            <span class="fhir-metadata-label">Status:</span>
		            <span class="fhir-metadata-value">$!resource.getStatus()</span>
	            </td>
	          </tr>
	          <tr>
	            <td class="fhir-metadata-cell">
		            <span class="fhir-metadata-label">Publisher:</span>
		            <span class="fhir-metadata-value">$!resource.getPublisher()</span>
	            </td>
	          </tr>
	          <tr>
	   			<td class="fhir-metadata-cell">
		            <span class="fhir-metadata-label">Description:</span>
		            <span class="fhir-metadata-value">$!resource.getDescription()</span>
	            </td>
	          </tr>
	          <tr>
	            <td class="fhir-metadata-cell">
		            <span class="fhir-metadata-label">Requirements:</span>
		            <span class="fhir-metadata-value">$!resource.getRequirements()</span>
	            </td>
	          </tr>
	          <tr>
	            <td class="fhir-metadata-cell">
		            <span class="fhir-metadata-label">Date:</span>
		            <span class="fhir-metadata-value">$!resource.getDate()</span>
	            </td>
	          </tr>
	          <tr>
	            <td class="fhir-metadata-cell">
	              <span class="fhir-metadata-label">Show Raw Profile:</span>
	              <span class="fhir-metadata-value"><a href='$generatedurl?_format=xml'>XML</a> | <a href='$generatedurl?_format=json'>JSON</a></span>
	            </td>
	          </tr>
	        </tbody></table>
          </div>
        </div>
	</div>




