<div class='fhirServerGeneratedContent'>
	<div class='fhirServerWarning'>Warning: This FHIR Server is currently experimental, and is provided for reference during development of new services against published profiles only. You should not make direct calls to this server from live systems.</div>
	<div class='fhirServerNotice'>This is a HL7 FHIR server, and as you appear to be accessing this page from a web browser you  are seeing a HTML version of the requested resource(s). You can also access this URL from a FHIR client as a ReSTful API call. For more details please see the <a href="https://www.hl7.org/fhir/">HL7 FHIR specification</a>.</div>

	<h2 class='resourceType'>$!resource.getName() ($type)</h2>

	<div class='metadataSection'>
		<div class='resourceSummary'>
			<ul>
				<li>URL: $!resource.getUrl()</li>
				<li>Name: $!resource.getName()</li>
				<li>Status: $!resource.getStatus()</li>
				<li>Version: $!resource.getVersion()</li>
				<li>Publisher: $!resource.getPublisher()</li>
				<li id='description'>Description: $!resource.getDescription()</li>
				<li>Requirements: $!resource.getRequirements()</li>
				<li>Experimental: $!resource.getExperimental()</li>
				<li>Date: $!resource.getDate()</li>
				<li>FHIRVersion: $!resource.getStructureFhirVersionEnum()</li>
				<li>Show Raw Profile: <a href='$generatedurl?_format=xml'>XML</a> | <a href='$generatedurl?_format=json'>JSON</a></li>
			</ul>
		</div>
		<div class='resourceVersions'>
			<h3>Version History</h3>
			<ul>
				#foreach( $version_no in $versions.keySet() )
				    #set( $version_entry = $versions.get($version_no) )
					#if( $version_entry.getVersionNo() == $resource.getVersion() )
					  <b>
					#end
				    <li><a href="$version_entry.getVersionedUrl($baseURL)">Version: $version_no</a> <span class='versionStatusLabel'>$version_entry.getStatus()</span></li>
				    #if( $version_entry.getVersionNo() == $resource.getVersion() )
					  </b>
					#end
				#end
			</ul>
		</div>
		<p class='clearPara'></p>
	</div>
	<div id="tabs">
		<ul>
			<li><a href="#tabs-1">Tree View</a></li>
			<li><a href="#tabs-2">Differential</a></li>
			<li><a href="#tabs-3">Details</a></li>
			<li><a href="#tabs-4">Bindings</a></li>
		</ul>
		<div id="tabs-1" class='treeView'>$!treeView</div>
		<div id="tabs-2">Coming Soon</div>
		<div id="tabs-3">Coming Soon</div>
		<div id="tabs-4">Coming Soon</div>
	</div>
</div>
